body{
    background-color: rgb(65, 50, 94);
}
h1{
    color: brown;
}
#p1{
    color: bisque;
}
#p2{
    color: cyan;
}
#p3{
    color: darkgreen;
}
#p4{
    color: rgb(167, 48, 121);
}
.odd{
    color: blueviolet;
}
.even{
    color: cadetblue;
}