*{
    box-sizing: border-box;
}
.container{
    background-color: rgb(33, 95, 33);
    height: 100vh;
}
.box{
    background-color: rgb(54, 40, 68);
    border: 2px solid;
    padding: 25px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;
    min-height: 50%;
}