.icon{
    text-align: center;
}
.fa-solid.fa-house.fa-5x{
    color: rgba(165, 65, 179, 0.384);
}
.fa-brands.fa-twitter.fa-5x{
    color: rgba(25, 132, 204, 0.781);
}
.fa-brands.fa-youtube.fa-5x{
    color: rgb(196, 27, 27);
}
.fa-brands.fa-whatsapp.fa-5x{
    color: rgb(46, 185, 53);
}